@model AdminLeaveRequestViewVM

@{
    ViewData["Title"] = "Index";
}

<h2>Leave Requests </h2>

<div class="row">
    <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box">
            <span class="info-box-icon bg-info"><i class="fas fa-calculator"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Total</span>
                <span class="info-box-number">@Html.DisplayFor(model => model.TotalRequests) </span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box">
            <span class="info-box-icon bg-success"><i class="far fa-thumbs-up"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Approved </span>
                <span class="info-box-number">@Html.DisplayFor(model => model.ApprovedRequests)</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box">
            <span class="info-box-icon bg-warning"><i class="far fa-copy"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Pending </span>
                <span class="info-box-number">@Html.DisplayFor(model => model.PendingRequests)</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box">
            <span class="info-box-icon bg-danger"><i class="far fa-thumbs-down"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Rejected </span>
                <span class="info-box-number">@Html.DisplayFor(model => model.RejectedRequests)</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
</div>
<hr />
<h2>Leave Request Log</h2>
<table id="tblData" class="table">
    <thead>
        <tr>
            <th>
                Employee Name
            </th>
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>
            <th>
                # Days Requested
            </th>
            <th>
                Leave Type
            </th>
            <th>
                Date Requested
            </th>
            <th>
                Approval Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.leaveRequests)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestingEmployee.Firstname) @Html.DisplayFor(modelItem => item.RequestingEmployee.Lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalDaysRequested)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LeaveType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateRequested)
                </td>
                <td>
                    @if (item.Cancelled == true)
                    {
                        <div class="badge badge-secondary">Cancelled</div>
                    }
                    else if (item.Approved == true)
                    {
                        <div class="badge badge-success">Approved</div>
                    }
                    else if (item.Approved == false)
                    {
                        <div class="badge badge-danger">Rejected</div>
                    }
                    else
                    {
                        <div class="badge badge-warning">Pending Approval</div>
                    }
                </td>
                <td>
                    @if (item.Cancelled == true)
                    {
                        <div class="btn btn-secondary btn-sm "><i class="fa fa-file"></i> Review</div>
                    }
                    else

                    {
                        <a class="btn btn-outline-primary btn-sm " asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-file"></i> Review</a>
                    }


                </td>
            </tr>
        }
    </tbody>
</table>
